.login-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .google {
    background-color:  #405DE6;
    color: white;
  }